$graphite: #252525;
$blue: #81BBFF;
$gold:#FAD414;
$green: #76D311;
$tulip: #CE3C4D;

$opacity: 0.25;

$blue-bg: change-color($blue, $lightness: 25%, $alpha: .5);
$blue-faint: change-color($blue, $alpha: .15);
